/* styles.css */

/* Общий стиль для всего приложения */
.root {
    -fx-background-color: #FFFFFF; /* background */
    -fx-padding: 20px;
    -fx-font-family: "Arial", sans-serif;
}

/* Стиль для кнопок */
.button {
    -fx-background-color: #03DAC6; /* secondary */
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-background-color: #018786;
}

/* Стиль для меток */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
}

/* Стиль для текстовых полей */
.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #03DAC6;
    -fx-border-width: 1px;
    -fx-border-radius: 3;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

/* Стиль для контейнеров */
.container {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #03DAC6;
    -fx-border-width: 1px;
    -fx-border-radius: 5;
    -fx-padding: 10px;
}

/* Стиль для логотипа */
.logo {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

/* Стиль для заголовка */
.title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #018786;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}